<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <ion-button slot="end" color="transparent" [routerLink]="['/home']">volver</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="card">
    <form class="card-form">
        <div class="input">
            <input type="text" class="input-field" value="" required/>
            <label class="input-label">Ingrese correo institucional: </label>
        </div>
        <div class="input">
            <input type="text" class="input-field" value="" required/>
            <label class="input-label">Ingrese Nueva Contraseña: </label>
        </div>
        <div class="input">
          <input type="text" class="input-field" value="" required/>
          <label class="input-label">Ingrese nuevamente contraseña: </label>
      </div>
    </form>
    <div class="card-info">
        <p> <a href="#"></a></p>
    </div>
    <button class="svg" (click)="presentAlert()">Confirmar</button>
  </div>
</ion-content>


