
  <ion-header>
    <ion-toolbar>
      <ion-title><ion-button color="warning" shape="round">Iniciar Sesión</ion-button></ion-title>
      <ion-button slot="end" color="transparent" [routerLink]="['/home']">volver</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="background">
  <!--
    <div id="container" style="background-color:transparent ;" >
      <ion-card style="background-color:rgba(240, 248, 255, 0.288) ;" >
        <ion-card-header>  </ion-card-header>
        <ion-card-content>
          <ion-item style="background-color:aliceblue ;" >
            <ion-label color="warning" position="floating">Usuario: </ion-label>
            <ion-input [(ngModel)]="usuario"></ion-input>
          </ion-item>
          <ion-item style="background-color:aliceblue ;">
            <ion-label color="warning" position="floating">Contraseña: </ion-label>
            <ion-input [(ngModel)]="contrasena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button (click)="grabar()">Entrar</ion-button>
          
          </ion-item>
      </ion-card-content>
      </ion-card>
    </div>

-->


<div class="container">
  <!-- code here -->
  <div class="card">

      <form class="card-form">
          <div class="input">
              <input type="text" class="input-field" value="" required/>
              <label class="input-label">Usuario: </label>
          </div>
          <div class="input">
              <input type="text" class="input-field" value="" required/>
              <label class="input-label">Contraseña: </label>
          </div>
          <div class="action">
              <button class="action-button" [routerLink]="['/menu-alumno']" >Iniciar Sesión</button>
          </div>
      </form>
      <div class="card-info">
          <p> <a href="#"></a></p>
      </div>
  </div>
</div>

<ion-footer>
  <ion-bottom>
    <ion-button color="medium" slot="start" [routerLink]="['/menu-alumno']" >menu alumno </ion-button>
    <ion-button color="medium" slot="start" [routerLink]="['/menu-profesor']" >menu profesor </ion-button>

  </ion-bottom>
</ion-footer>




