<ion-header>
  <ion-toolbar>
    <ion-title> Seccion</ion-title>
    <ion-button slot="end" color="transparent" [routerLink]="['/menu-profesor']">volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="card">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sección {{datos_seccion.nombre_seccion}}</ion-card-subtitle>
      <ion-card-title>{{datos_seccion.alias_curso}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Seleccione...</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content"><ion-button expand="block" fill="outline" color="dark" (click)="iniciar()" >Iniciar Clase</ion-button></div>
              <div class="ion-padding" slot="content"><ion-button expand="block" fill="outline" color="dark" [routerLink]="['/lista-alumnos']" >Listado de Alumnos</ion-button></div>
              <div class="ion-padding" slot="content"><ion-button expand="block" fill="outline" color="dark" [routerLink]="['/asistencia']" >Asistencia</ion-button></div>
              
            </ion-accordion>
          </ion-accordion-group>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 </div>
</ion-content>
