ion-card {

  }
  
  ion-label {
    --color: #080808;

  }
  
  ion-card-subtitle {
    --color: #f1f6f6;
  }
  ion-card-label {
    --color: #f5f7f7;
  }
  
  /* iOS places the subtitle above the title */

.container{
    text-align: center;
    position: relative;
    padding: .10rem;
    justify-content: end;
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;





}
