
<div class="container">
	<div class="text">
		<ion-card>

			<ion-card-content>
				<ion-label>Usuario: </ion-label>
					<ion-input fill="outline" placeholder ="Ingrese Usuario"[(ngModel)]="datos.correo"></ion-input>
					<ion-label>Contraseña: </ion-label>
					<ion-input type = 'password' placeholder ="Ingrese Contraseña"[(ngModel)]="datos.pass"></ion-input>
					<ion-button  color="warning" shape="round"  (click)="login()">Ingresar</ion-button>
			</ion-card-content>
		  </ion-card>
	</div>
	
</div>
