<ion-header >
  <ion-toolbar >
    <div class="container" style="background-color:transparent ">
    <ion-title style="background-color:transparent" >
          <ion-row >
            <ion-col ><ion-div class="container">RegistrAPP</ion-div></ion-col>
            <ion-col ><img src="../assets/img/logo.png" style="width: 100px;" ></ion-col>
          </ion-row>
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="background" >
  
  <ion-div id="container" style="background-color:transparent ;">
    <ion-card style="background-color:transparent ;">
      <ion-card-header >
        <ion-card-title>Bienvenidos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button shape="round" color="dark" size="large" (click)="agregar()">Docente</ion-button>
        <ion-button shape="round" color="light" size="large" [routerLink]="['/pagina1']">Alumno</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-div>
</ion-content>

