#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#yellow {
  background-color: rgb(184, 184, 23);
}

ion-content.background{

  --background: url(../../../assets/img/Poster_2.jpg) 0/100% 100%;
  background-size: cover;
  width: auto;
  height: auto;
}