<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
    <ion-button slot="end" color="transparent" [routerLink]="['/seccion']">volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ng-container *ngFor="let alumno of lista_alumno">
      <div class="chart-row three">
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              

                <span>{{alumno.nombre}} {{alumno.apellido}}</span>
                <h2>{{ conteo }}</h2>
              
            </div>
            <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart pink">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">{{ conteo }}%</text>
      </svg>
            </div>
          </div>
        </div>



      </div>
    </ng-container>
    

  </div>

      <ion-grid>
      <ion-row>
        <ion-col><h4>Alumnos aprobados</h4></ion-col>
        <ion-col><h4>Alumnos reprobados</h4></ion-col>
        <ion-col><h4>Total alumnos</h4></ion-col>
      </ion-row>
      <ion-row >
        <ion-col><div>15</div></ion-col>
        <ion-col><div>10</div></ion-col>
        <ion-col><div>25</div></ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="contar()"> refresh</ion-button>
</ion-content>
